<a href="https://colab.research.google.com/github/ArvindReddyC/Sord_analysis/blob/main/newModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Cloning from git

In [ ]:
!git clone https://github.com/ArvindReddyC/Sord_analysis.git

Cloning into 'Sord_analysis'...
remote: Enumerating objects: 37, done.
remote: Counting objects: 100% (37/37), done.
remote: Compressing objects: 100% (34/34), done.
remote: Total 37 (delta 12), reused 17 (delta 2), pack-reused 0
Unpacking objects: 100% (37/37), done.

In [ ]:
!pwd

/content

## Modules Needed

In [99]:
import pandas as pd
import numpy as np
import gdown

%load_ext autoreload
%autoreload 2
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Start of code

In [ ]:
!touch functions.py

### Important Functions

In [2]:
def encapsule(df):
    display(df.head(5))
    print( f'shape of df = {df.shape}' )
    return df

def tran(x):
    y = x[1:-1]
    return y.split(',')

def only_activities( df , list_of_activities_to_include ): 
    return df[ df.Activity.isin( list_of_activities_to_include ) ]


def data_wrangle( df ):
    sample = df[['timestamp','raw_sensor_data']];
    sample['parameters'] = sample.raw_sensor_data.apply(tran);
    main = pd.DataFrame( sample.parameters.to_list() , columns = ['v1','v2','v3','v4','v5','v6','v7','v8','v9','v10','v11'] );
    main['timestamp'] = sample['timestamp'];
    main.drop( 'v1' , axis = 1 , inplace = True );
    main.set_index('timestamp' , inplace=True);
    return main;


def removeprocess(x):
    try:
      main , *_  = x.split(' ')
    except (ValueError,AttributeError):
      return x
    return main

def val_counts(df):
    return df['Activity'].value_counts()
'''
Will t
'''
def groupby_avarage(activity_df):
    activity_df['Time'] =  activity_df.Time.astype(int)
    means_df = activity_df.groupby('Time').mean()
    mode_of_activities = []
    for each in activity_df.groupby('Time'):
        mode_of_activities.append(each[1]['Activity'].mode()[0])
    means_df['Activities'] = mode_of_activities
    return means_df


def process_sheet(df, number):
    df = df.fillna(method='ffill')
    df.drop( ['SORD', 'AP time' , 'AP classification'] , axis = 1 , inplace = True )
    df = only_activities( df , ['Standing', 'Sitting', 'Reclining' , 'Walking', 'Sitting (outsrtetched legs)'] )
    df['User_Id'] = number 
    df['Activity'] = df.Activity.apply(removeprocess)
    df.Activity = df.Activity.replace( 'Reclining' , 'Sitting' )  
    display(val_counts(df))
    return df


def process_sheet_edit(df, number):
    df = df.fillna(method='ffill')
    display(val_counts(df))
    df['Activity'] = df.Activity.apply(removeprocess)
    # df.drop( ['SORD', 'AP time' , 'AP classification'] , axis = 1 , inplace = True )
    df = only_activities( df , ['Standing', 'Sitting', 'Reclining' , 'Walking', 'Sitting'] )
    df['User_Id'] = number 
    df.Activity = df.Activity.replace( 'Reclining' , 'Sitting' )  
    display(val_counts(df))
    return df


def drop_un(df):
  try:
    df.drop( ['SORD', 'AP time' , 'AP classification'] , axis = 1 , inplace = True )
  except:
    return df 
  return df

### Reading the csv

### Sheet one cleaning

In [3]:
sheet_one = pd.read_excel('/content/drive/MyDrive/SORD combined_Feb_2022.xlsx' , sheet_name='01')

In [ ]:
sheet_one = sheet_one.fillna(method='ffill')
sheet_one.drop( ['SORD', 'AP time' , 'AP classification'] , axis = 1 , inplace = True )
sheet_one = only_activities( sheet_one , ['Standing', 'Sitting', 'Reclining' , 'Walking', 'Sitting (outsrtetched legs)'] )
sheet_one['User_Id'] = 1 
sheet_one['Activity'] = sheet_one.Activity.apply(removeprocess)
sheet_one.Activity = sheet_one.Activity.replace( 'Reclining' , 'Sitting' )

### Sheet two Cleaning

In [5]:
sheet_two = pd.read_excel('/content/drive/MyDrive/SORD combined_Feb_2022.xlsx' , sheet_name='02')

In [6]:
sheet_two = encapsule(sheet_two.fillna(method='ffill'))
sheet_two.drop( ['SORD', 'AP time' , 'AP classification'] , axis = 1 , inplace = True )
sheet_two = only_activities( sheet_two , ['Standing', 'Sitting', 'Reclining' , 'Walking', 'Sitting (outsrtetched legs)'] )
sheet_two['User_Id'] = 2
sheet_two['Activity'] = sheet_two.Activity.apply(removeprocess)
sheet_two.Activity = sheet_two.Activity.replace( 'Reclining' , 'Sitting' )

       Time  Angle    X    Y  ...      Activity  SORD  AP time  AP classification
0  0.098994   90.0  0.0  0.0  ...  Signal error   NaN      NaN                NaN
1  0.197000   90.0  0.0  0.0  ...  Signal error   NaN      NaN                NaN
2  0.397000   90.0  0.0  0.0  ...  Signal error   NaN      NaN                NaN
3  0.796000   90.0  0.0  0.0  ...  Signal error   NaN      NaN                NaN
4  0.995000   90.0  0.0  0.0  ...  Signal error   NaN      NaN                NaN

[5 rows x 15 columns]

shape of df = (139166, 15)

In [21]:
val_counts(sheet_two)

Sitting     63069
Standing    29029
Walking      8962
Name: Activity, dtype: int64

### Sheet three

In [7]:
sheet_three = pd.read_excel('/content/drive/MyDrive/SORD combined_Feb_2022.xlsx' , sheet_name='03')

In [8]:
sheet_three = process_sheet(sheet_three,3)

Sitting     66504
Standing    28078
Walking      8979
Name: Activity, dtype: int64

### Sheet Five

In [9]:
sheet_five = pd.read_excel('/content/drive/MyDrive/SORD combined_Feb_2022.xlsx' , sheet_name='05')

In [10]:
sheet_five_copy = sheet_five.copy( deep = True)

In [11]:
sheet_five =  process_sheet(sheet_five,5)

Standing    30396
Sitting     11330
Walking      7008
Name: Activity, dtype: int64

### Sheet six

In [12]:
sheet_six = encapsule(pd.read_excel('/content/drive/MyDrive/SORD combined_Feb_2022.xlsx' , sheet_name='06'))

       Time   Angle     X     Y  ...  Activity  SORD  AP time  AP classification
0  0.062995  172.23 -0.85 -0.91  ...    Random   NaN      NaN                NaN
1  0.158000  172.23 -0.88 -0.91  ...       NaN   NaN      NaN                NaN
2  0.169000  172.23 -0.87 -0.93  ...       NaN   NaN      NaN                NaN
3  0.187000  172.23 -0.88 -0.90  ...       NaN   NaN      NaN                NaN
4  0.187000  172.23 -0.85 -0.92  ...       NaN   NaN      NaN                NaN

[5 rows x 15 columns]

shape of df = (137687, 15)

In [13]:
sheet_six = process_sheet(sheet_six,6)

Sitting     50789
Standing    29096
Walking     10396
Name: Activity, dtype: int64

### Sheet 07

In [14]:
sheet_seven = encapsule(pd.read_excel('/content/drive/MyDrive/SORD combined_Feb_2022.xlsx' , sheet_name='07'))
sheet_seven = process_sheet_edit(sheet_seven,7)

     Time   Angle     X     Y  ...  Activity  SORD  AP time  AP classification
0  145.06  166.27 -2.19 -0.75  ...   Sitting   NaN      NaN                NaN
1  145.08  166.27 -2.21 -0.76  ...       NaN   NaN      NaN                NaN
2  145.11  166.27 -2.21 -0.79  ...       NaN   NaN      NaN                NaN
3  145.13  166.27 -2.23 -0.78  ...       NaN   NaN      NaN                NaN
4  145.19  166.27 -2.24 -0.78  ...       NaN   NaN      NaN                NaN

[5 rows x 15 columns]

shape of df = (111975, 15)

Standing                                                                                                                               6608
Prepared for simple resistance exercises (discard)                                                                                     6155
Sitting 2                                                                                                                              4669
Sitting 4                                                                                                                              4427
Standing 4                                                                                                                             4183
Discard                                                                                                                                4122
Prepared to walk on treadmil                                                                                                           4046
Standing 3                                                                                                                             3771
Lying (face up)                                                                                                                        3645
Sitting 5                                                                                                                              3557
Sitting (oustretched legs)                                                                                                             3530
Walking (fast)                                                                                                                         3495
Sitting 6                                                                                                                              3467
Sitting 9                                                                                                                              3464
Lying (right shoulder)                                                                                                                 3451
Sitting 8                                                                                                                              3431
Walking (normal)                                                                                                                       3420
Sitting                                                                                                                                3397
Lying (left shoulder)                                                                                                                  3376
Lying (face down)                                                                                                                      3338
Standing 2                                                                                                                             3336
Reclining 2                                                                                                                            3267
Reclining 3                                                                                                                            3264
Sitting 3                                                                                                                              3244
Reclining 1                                                                                                                            3242
Sitting 7                                                                                                                              3233
Standing 5                                                                                                                             3198
single leg straight leg kick backs                                                                                                     2237
calf raises                                                                                                                            1937
half squats                                                                                                                            1438
half squat                                                                                                                              683
Walking 1                                                                                                                               615
Switch from normal to fast walking                                                                                                      502
Moved towards matt and prepared to sit with outstretched legs                                                                           275
Switched to face down                                                                                                                   270
Switch to lie down                                                                                                                      268
Turned to left shoudler                                                                                                                 241
Switch                                                                                                                                  233
Moved towards the wall to stand (discard)                                                                                               219
Switched to face down (Turned)                                                                                                          191
Moved towards the same spot for standing                                                                                                106
Switch to standing                                                                                                                      104
Switching legs                                                                                                                           66
From standing to sitting                                                                                                                 62
Switch to right leg over knee                                                                                                            57
Switch to sitting                                                                                                                        54
Switch to lean on left shoulder                                                                                                          28
Switch from standing to walking                                                                                                          27
Uturn to stand                                                                                                                           25
Switch from moving left foot to right foot (This subject started fidgeting his left leg first- right leg is first in the protocol:)       1
Name: Activity, dtype: int64

Sitting     46192
Standing    21096
Walking      7530
Name: Activity, dtype: int64

### Sheet nine

In [15]:
sheet_nine = encapsule(pd.read_excel('/content/drive/MyDrive/SORD combined_Feb_2022.xlsx' , sheet_name='09'))
sheet_nine = process_sheet(sheet_nine,9)

       Time   Angle     X     Y  ...  Activity  SORD  AP time  AP classification
0  0.025005  163.57 -2.59 -0.15  ...    Random   NaN      NaN                NaN
1  0.056005  161.43 -3.87  0.99  ...       NaN   NaN      NaN                NaN
2  0.073003  161.81 -3.00  0.75  ...       NaN   NaN      NaN                NaN
3  0.098008  160.71 -3.60  0.47  ...       NaN   NaN      NaN                NaN
4  0.117010  158.06 -3.59 -0.11  ...       NaN   NaN      NaN                NaN

[5 rows x 15 columns]

shape of df = (116612, 15)

Sitting     41708
Standing    24381
Walking      8507
Name: Activity, dtype: int64

### Sheet ten

In [16]:
sheet_ten = encapsule(pd.read_excel('/content/drive/MyDrive/SORD combined_Feb_2022.xlsx' , sheet_name='10'))
sheet_ten = process_sheet(sheet_ten,10)

       Time   Angle     X     Y  ...  Activity  SORD  AP time  AP classification
0  0.080999  160.19 -0.70  4.09  ...   Sitting   NaN      NaN                NaN
1  0.148010  161.62 -2.15  1.13  ...       NaN   NaN      NaN                NaN
2  0.173000  161.07 -1.16  2.76  ...       NaN   NaN      NaN                NaN
3  0.186010  161.99 -1.75  2.72  ...       NaN   NaN      NaN                NaN
4  0.204000  162.38 -1.99  2.17  ...       NaN   NaN      NaN                NaN

[5 rows x 15 columns]

shape of df = (120642, 15)

Sitting     52269
Standing    23217
Walking      8721
Name: Activity, dtype: int64

### Sheet eleven

In [17]:
sheet_eleven = encapsule(pd.read_excel('/content/drive/MyDrive/SORD combined_Feb_2022.xlsx' , sheet_name='11'))
sheet_eleven = process_sheet(sheet_eleven,11)

       Time   Angle     X     Y  ...  Activity  SORD  AP time  AP classification
0  0.026001  173.15 -0.98 -0.69  ...    Random   NaN      NaN                NaN
1  0.095996  173.15 -0.99 -0.71  ...       NaN   NaN      NaN                NaN
2  0.157000  173.15 -0.98 -0.70  ...       NaN   NaN      NaN                NaN
3  0.186000  173.15 -0.97 -0.70  ...       NaN   NaN      NaN                NaN
4  0.279000  173.15 -0.97 -0.70  ...       NaN   NaN      NaN                NaN

[5 rows x 15 columns]

shape of df = (131368, 15)

Sitting     51000
Standing    27242
Walking      9057
Name: Activity, dtype: int64

### Sheet 12

In [18]:
sheet_twelve = encapsule(pd.read_excel('/content/drive/MyDrive/SORD combined_Feb_2022.xlsx' , sheet_name='12'))
sheet_twelve = process_sheet_edit(sheet_twelve,12)

      Time   Angle     X  ...  SORD  AP time  AP classification
0  0.16300   90.00  0.00  ...   NaN      NaN                NaN
1  0.21701   90.00  6.99  ...   NaN      NaN                NaN
2  0.22601  172.23 -1.18  ...   NaN      NaN                NaN
3  0.23200  172.67 -0.69  ...   NaN      NaN                NaN
4  0.26400  172.67 -1.24  ...   NaN      NaN                NaN

[5 rows x 15 columns]

shape of df = (116067, 15)

Sitting                                                          29404
Standing                                                         25183
Reclining                                                        11379
Lying (face up)                                                   4204
Walking (fast)                                                    4095
Walking (normal)                                                  4095
Sitting (outstretched legs)                                       3887
Prepared for simple resistance exercises (discard)                3725
Discard                                                           3671
Lying (face down)                                                 3444
Lying (left shoulder)                                             3428
Lying (right shoulder)                                            3340
Sitting 2                                                         2698
Sitting 1                                                         2261
single leg straight leg kick backs                                1971
calf raises                                                       1743
Preparation (discard)                                             1643
half squats                                                       1309
Walking (random)                                                  1228
half squat                                                         704
Switched to face down (Turned)                                     627
Walking                                                            553
Moved towards matt and prepared to sit with outstretched legs      225
Turned to left shoudler                                            198
Switch from sitting to reclining                                   189
Sitting switch                                                     185
Switch from sitting to standing                                    164
Moved towards the same spot for standing                           148
Moved towards the wall to stand (discard)                          134
Turned to lie on right shoulder                                     87
Switch from reclining to sitting                                    87
From standing to sitting                                            58
Name: Activity, dtype: int64

Sitting     49814
Standing    25183
Walking      9971
Name: Activity, dtype: int64

### sheet 13

In [19]:
sheet_thirteen = encapsule(pd.read_excel('/content/drive/MyDrive/SORD combined_Feb_2022.xlsx' , sheet_name='13'))
sheet_thirteen = process_sheet_edit(sheet_thirteen,13)

       Time   Angle     X     Y  ...  Activity  SORD  AP time  AP classification
0  0.040002  160.89 -2.61  3.15  ...    Random   NaN      NaN                NaN
1  0.058006  160.89 -2.66  3.28  ...       NaN   NaN      NaN                NaN
2  0.114000  160.54 -2.71  3.30  ...       NaN   NaN      NaN                NaN
3  0.168000  159.85 -2.85  3.57  ...       NaN   NaN      NaN                NaN
4  0.177010  159.18 -2.81  3.36  ...       NaN   NaN      NaN                NaN

[5 rows x 15 columns]

shape of df = (123695, 15)

Standing                              26526
Sitting                               19113
Sitting 1                             13944
Discard                               12778
Walking                               10204
Reclining                              9798
Lying (face down)                      3780
Sitting                                3738
Sitting (outstretched legs)            3731
Lying (face up)                        3545
Lying (left shoulder)                  3528
Lying (right shoulder)                 3434
single leg straight leg kick backs     2265
calf raises                            1725
half squat                             1294
Random                                 1170
Walking (random)                        940
Walk (random)                           785
Switch                                  682
half squats                             631
Turned to left shoudler                  84
Name: Activity, dtype: int64

Sitting     50324
Standing    26526
Walking     11144
Name: Activity, dtype: int64

### Sheet 15

In [20]:
sheet_fifteen = encapsule(pd.read_excel('/content/drive/MyDrive/SORD combined_Feb_2022.xlsx' , sheet_name='15'))
sheet_fifteen = process_sheet_edit(sheet_fifteen,15)

      Time   Angle     X     Y  ...  Activity  SORD  AP time  AP classification
0  0.22201   90.00  0.00  0.00  ...       NaN   NaN      NaN                NaN
1  0.38500   90.00  0.00  0.00  ...       NaN   NaN      NaN                NaN
2  0.42500   90.00  0.00  9.77  ...       NaN   NaN      NaN                NaN
3  0.45001  176.34 -0.57  0.79  ...       NaN   NaN      NaN                NaN
4  0.52800  176.34 -0.47  0.74  ...       NaN   NaN      NaN                NaN

[5 rows x 15 columns]

shape of df = (114876, 15)

Sitting                                               30781
Standing                                              23512
Reclining                                             10289
Walking (on treadmil)                                  8825
Discard                                                5948
Prepared for simple resistance exercises (discard)     3996
Sitting (outstretched legs)                            3883
Lying (face up)                                        3600
Sitting                                                3511
Lying (right shoulder)                                 3476
Lying (face down)                                      3356
Lying (left shoulder)                                  3333
single leg straight leg kick backs                     2430
half squat                                             1410
calf raises                                            1367
calf rises                                              750
half squats                                             635
Walking                                                 607
Pprepared to sit wit outstretched legs                  413
Returned to the same spot to stand                      353
Switched to face down (Turned)                          253
Moved to lean on the wall                               219
Turned to lie on right shoulder                         153
Turned to left shoudler                                 117
Moved towards the same spot for standing                112
Moved towards the wall to stand (discard)               107
Sitting switch (to right over left knee)                 80
Switch                                                   78
Switch (stand to sit)                                    70
Switch from sit to stand                                 60
Switch to reclining                                      48
Name: Activity, dtype: int64

Sitting     48544
Standing    23512
Walking      9432
Name: Activity, dtype: int64

### Sheet Sixteen

In [21]:
sheet_sixteen = encapsule(pd.read_excel('/content/drive/MyDrive/SORD combined_Feb_2022.xlsx' , sheet_name='16'))
sheet_sixteen = process_sheet_edit(sheet_sixteen,16)

       Time   Angle     X  ...  Unnamed: 9  Unnamed: 10               Activity
0  0.023999  160.71 -2.50  ...       -0.69        43.38  Preparation (discard)
1  0.083997  160.71 -2.64  ...       -0.69        41.06                    NaN
2  0.137000  160.89 -2.76  ...       -0.69        41.06                    NaN
3  0.150000  160.89 -2.66  ...       -1.06        43.00                    NaN
4  0.248000  161.07 -2.62  ...       -0.69        42.25                    NaN

[5 rows x 12 columns]

shape of df = (120228, 12)

Sitting                                                          32831
Standing                                                         17117
Reclining                                                        14472
Standing                                                          6753
Discard                                                           6636
Prepared for simple resistance exercises (discard)                4410
Sitting (outstretched legs)                                       3900
Walking (normal)                                                  3900
Lying (left shoulder)                                             3747
Lying (face down)                                                 3644
Lying (face up)                                                   3457
Walking (fast)                                                    3424
Lying (right shoulder)                                            3353
single leg straight leg kick backs                                2276
half squats                                                       2254
calf raises                                                       2037
Preparation (discard)                                             1922
Walking (random)                                                   914
Walking                                                            676
Moved towards matt and prepared to sit with outstretched legs      560
Turned to left shoudler                                            455
Switched to face down (Turned)                                     353
Moved towards the same spot for standing                           296
Moved towards the wall to stand (discard)                          249
Switching legs                                                     129
Switch                                                             125
Turned to lie on right shoulder                                    119
Switch to standing                                                  81
From standing to sitting                                            80
Switch from sitting to standing                                     58
Name: Activity, dtype: int64

Sitting     51203
Standing    23870
Walking      8914
Name: Activity, dtype: int64

### Sheet Seventeen

In [22]:
sheet_seventeen = encapsule(pd.read_excel('/content/drive/MyDrive/SORD combined_Feb_2022.xlsx' , sheet_name='17'))
sheet_seventeen = process_sheet_edit(sheet_seventeen,17)

     Time   Angle     X     Y  ...   Activity  SORD  AP time  AP classification
0  150.00  162.77 -2.57 -0.41  ...  Sitting 1   NaN      NaN                NaN
1  150.03  162.57 -2.98  0.45  ...        NaN   NaN      NaN                NaN
2  150.05  162.57 -3.09  0.84  ...        NaN   NaN      NaN                NaN
3  150.11  162.38 -2.65 -0.41  ...        NaN   NaN      NaN                NaN
4  150.12  162.18 -2.76 -0.49  ...        NaN   NaN      NaN                NaN

[5 rows x 15 columns]

shape of df = (110897, 15)

Standing                                                         10003
Prepared for simple resistance exercises (discard)                4591
Prepared to walk on treadmil                                      4446
Sitting (outstretched legs)                                       3795
Sitting 8                                                         3696
Standing 5                                                        3617
Standing 4                                                        3608
Sitting 6                                                         3584
Sitting 9                                                         3571
Sitting 3                                                         3506
Sitting 5                                                         3480
Sitting 7                                                         3474
Lying (face up)                                                   3466
Lying (right shoulder)                                            3465
Walking (fast)                                                    3456
Walking (normal)                                                  3443
Sitting 2                                                         3408
Lying (face down)                                                 3400
Reclining 1                                                       3389
Sitting 1                                                         3388
Sitting 4                                                         3387
Reclining 2                                                       3359
Lying (left shoulder)                                             3348
Standing 3                                                        3302
Reclining 3                                                       3293
Standing 2                                                        3289
single leg straight leg kick backs                                2394
Discard                                                           2054
calf raises                                                       2018
half squats                                                       1340
Switch from normal to fast walking                                 854
half squat                                                         781
Walking 1                                                          566
Moved towards matt and prepared to sit with outstretched legs      456
Moved towards the wall to stand (discard)                          325
Switched to face down (Turned)                                     283
Switch to lie down                                                 223
Sitting switch                                                     163
Turned to left shoudler                                            110
Moved towards the same spot for standing                           104
Switch to standing                                                  78
Turned to lie on right shoulder                                     77
From standing to sitting                                            60
Switch                                                              57
Uturn to stand                                                      49
Switch to sitting                                                   41
Switch to right leg over knee                                       28
Switch from standing to walking                                     26
Switch to lean on left shoulder                                     24
Switching legs                                                      21
Switch from moving right foot to left foot                           1
Name: Activity, dtype: int64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Sitting     45493
Standing    23819
Walking      7465
Name: Activity, dtype: int64

In [ ]:
raw_df.head(5)

     Time   Angle     X     Y  ...  Unnamed: 8  Unnamed: 9  Unnamed: 10   Activity
0  145.06  166.27 -2.19 -0.75  ...      -19.00       -5.75        54.25  Sitting 1
1  145.08  166.27 -2.21 -0.76  ...      -19.00       -5.38        52.75        NaN
2  145.11  166.27 -2.21 -0.79  ...      -19.00       -5.38        54.00        NaN
3  145.13  166.27 -2.23 -0.78  ...      -18.19       -5.75        54.00        NaN
4  145.19  166.27 -2.24 -0.78  ...      -18.56       -6.06        54.00        NaN

[5 rows x 12 columns]

### Preprocessing

In [ ]:
print(raw_df.shape)
raw_df.Activity.replace(np.NaN,1,inplace = True)
indexes = raw_df[ raw_df.Activity != 1   ].index
indexes
# filling the columns
for each in range((len(indexes) - 1) ):
  raw_df.loc[indexes[each]:(indexes[ each + 1]-1)]['Activity'] =  raw_df.loc[indexes[each]]['Activity']
raw_df.loc[91909:95403,'Activity'] = 'Walking 3'

'''
The below function can replace the above setsp 
'''
df.fillna(method='ffill')

(95403, 12)

In [ ]:
raw_df.Activity.value_counts().index

Index(['Standing', 'Sitting 2', 'Sitting 4', 'Standing 4',
       'Prepared to walk on treadmil', 'Standing 3', 'Lying 1', 'Sitting 5',
       'Sitting (oustretched legs)', 'Walking 3', 'Sitting 6', 'Sitting 9',
       'Lying 2', 'Sitting 8', 'Walking 2', 'Sitting 1', 'Lying 4', 'Lying 3',
       'Standing 2', 'Reclining 2', 'Reclining 3', 'Sitting 3 ', 'Reclining 1',
       'Sitting 7', 'Standing 5', 'Walking 1',
       'Switch from normal to fast walking',
       'Moved towards matt and prepared to sit with outstretched legs',
       'Switched to face down', 'Switch to lie down',
       'Turned to left shoudler', 'Switch',
       'Moved towards the wall to stand (discard)',
       'Switched to face down (Turned)',
       'Moved towards the same spot for standing', 'Switch to standing',
       'Switching legs', 'From standing to sitting',
       'Switch to right leg over knee', 'Switch to sitting',
       'Switch to lean on left shoulder', 'Switch from standing to walking',
       'Uturn to stand',
       'Switch from moving left foot to right foot (This subject started fidgeting his left leg first- right leg is first in the protocol:)'],
      dtype='object')

In [ ]:
copy_raw_df.head(5)

     Time   Angle     X     Y  ...  Unnamed: 8  Unnamed: 9  Unnamed: 10   Activity
0  145.06  166.27 -2.19 -0.75  ...      -19.00       -5.75        54.25  Sitting 1
1  145.08  166.27 -2.21 -0.76  ...      -19.00       -5.38        52.75  Sitting 1
2  145.11  166.27 -2.21 -0.79  ...      -19.00       -5.38        54.00  Sitting 1
3  145.13  166.27 -2.23 -0.78  ...      -18.19       -5.75        54.00  Sitting 1
4  145.19  166.27 -2.24 -0.78  ...      -18.56       -6.06        54.00  Sitting 1

[5 rows x 12 columns]

In [ ]:
copy_raw_df = raw_df.copy( deep = 'True')

In [ ]:
activity_df = raw_df[ ~raw_df.Activity.isin( [ 'Switch from normal to fast walking',
       'Moved towards matt and prepared to sit with outstretched legs',
       'Switched to face down', 'Switch to lie down',
       'Turned to left shoudler', 'Switch',
       'Moved towards the wall to stand (discard)',
       'Switched to face down (Turned)',
       'Moved towards the same spot for standing', 'Switch to standing',
       'Switching legs', 'From standing to sitting',
       'Switch to right leg over knee', 'Switch to sitting',
       'Switch to lean on left shoulder', 'Switch from standing to walking',
       'Uturn to stand',
       'Switch from moving left foot to right foot (This subject started fidgeting his left leg first- right leg is first in the protocol:)','Prepared to walk on treadmil','Lying 1','Lying 4','Lying 3','Lying 2'] ) ]

In [ ]:
def removeprocess(x):
    try:
      main , *_  = x.split(' ')
    except ValueError:
      return x
    return main
activity_df.Activity = activity_df.Activity.apply(removeprocess)
activity_df.Activity = activity_df.Activity.replace( 'Reclining' , 'Sitting' )

In [ ]:
activity_df.Activity.value_counts()

Sitting     46192
Standing    21096
Walking      7530
Name: Activity, dtype: int64

In [ ]:
#Check Point
copy_activity_df_df = activity_df.copy( deep = 'True')

In [ ]:
activity_df['Time'] =  activity_df.Time.astype(int)
means_df = activity_df.groupby('Time').mean()
mode_of_activities = []
for each in activity_df.groupby('Time'):
    mode_of_activities.append(each[1]['Activity'].mode()[0])
means_df['Activities'] = mode_of_activities
means_df['Activities'].value_counts()

In [ ]:
means_df

           Angle          X         Y  ...  Unnamed: 9  Unnamed: 10  Activities
Time                                   ...
145   166.270000  -2.207407 -0.762593  ...   -5.792593    54.161111     Sitting
146   166.270000  -2.210000 -0.760741  ...   -6.061481    54.127407     Sitting
147   166.270000  -2.205185 -0.763333  ...   -5.791481    53.940000     Sitting
148   166.270000  -2.198571 -0.772143  ...   -6.120714    53.895357     Sitting
149   166.270000  -2.196667 -0.775556  ...   -6.055185    54.298148     Sitting
...          ...        ...       ...  ...         ...          ...         ...
3703   53.410385 -10.901923  0.548462  ...  -26.087308    -9.523846     Walking
3704   52.474815 -10.627778  0.649259  ...  -26.617037    -8.483704     Walking
3705   51.481154 -10.300769  0.778462  ...  -26.334231    -9.202308     Walking
3706   50.465769 -11.469615  0.376923  ...  -26.990385    -8.728077     Walking
3707   53.930000  -7.540000  1.730000  ...  -28.690000    -0.190000     Walking

[2803 rows x 11 columns]

In [ ]:
means_df['Activities'].value_counts()

Sitting     1714
Standing     801
Walking      288
Name: Activities, dtype: int64

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import  accuracy_score

In [106]:
def preprocessing():
  # for each in [sheet_one, sheet_two, sheet_three, sheet_five, sheet_six, sheet_seven, sheet_nine, sheet_ten, sheet_eleven, sheet_twelve, sheet_thirteen, sheet_fifteen, sheet_sixteen, sheet_seventeen]:
  # print(each.shape)
  feture_selection_raw = []
  for each in [sheet_one, sheet_two, sheet_three, sheet_five, sheet_six, sheet_seven, sheet_nine, sheet_ten, sheet_eleven, sheet_twelve, sheet_thirteen, sheet_fifteen, sheet_sixteen, sheet_seventeen]:
    feture_selection_raw.append(drop_un(each))
  for each in feture_selection_raw:
    print(each.shape)
  return feture_selection_raw

In [78]:
def make_windows(df):
  lists = []
  print(int(df.sort_values('Time').Time.max()))
  for i in range( int(df.sort_values('Time').Time.min()) ,int(df.sort_values('Time').Time.max()) - 6 , 5  ):
      window =  df[ (df.Time >= i) & (df.Time <= (i + 5) )  ]
      window_mean = window.mean()
      try:
        window_mean['Activity'] = window.Activity.mode()[0]
      except:
        continue
      lists.append(window_mean)
  return pd.DataFrame(lists)

In [ ]:
def creating_df(feture_selection_raw):
  lists_  = []  
  for each in feture_selection_raw:
    lists_.append(make_windows(each))
  main_df = encapsule(pd.concat( lists_ ))
  main_df = main_df.sort_values(by = ['User_Id', 'Time'], ignore_index=True)
  return  main_df
main_df = creating_df(feture_selection_raw)

In [86]:
main_df.Activity.value_counts()

Sitting     5096
Standing    2945
Walking      955
Name: Activity, dtype: int64

In [ ]:
# list_of_dfs = []
# for each in [sheet_one, sheet_two, sheet_three, sheet_five, sheet_six, sheet_seven, sheet_nine, sheet_ten, sheet_eleven, sheet_twelve, sheet_thirteen, sheet_fifteen, sheet_sixteen, sheet_seventeen]:
#     list_of_dfs.append( groupby_avarage(each) )


# concat = pd.concat(list_of_dfs, axis = 0 )
# concat['Time_stamp'] = concat.index
# df_main = concat.sort_values(by = ['User_Id', 'Time_stamp'], ignore_index=True)

In [90]:
split = int(((main_df.shape[0]) * 0.75))
train =  main_df.iloc[ 0:split , :  ] 
test = main_df.iloc[ split: , :  ]

In [92]:
train.Activity.value_counts()

Sitting     3882
Standing    2188
Walking      677
Name: Activity, dtype: int64

In [139]:
main_df.to_csv('dataset_5_sec.csv')

### Modeling

In [179]:
main_df

             Time       Angle          X  ...  Unnamed: 10  User_Id  Activity
0        2.869542  162.382288  -2.570932  ...    46.616780      1.0   Sitting
1        7.493096  163.604222  -2.511481  ...    47.569778      1.0   Sitting
2       12.485081  163.736765  -2.503971  ...    47.474779      1.0   Sitting
3       17.459985  161.418235  -2.929191  ...    46.099338      1.0   Sitting
4       22.468366  160.753060  -3.084925  ...    45.619627      1.0   Sitting
...           ...         ...        ...  ...          ...      ...       ...
8991  3787.531655   96.668561 -10.070072  ...   -14.085036     17.0   Walking
8992  3792.489855   94.374493  -9.855725  ...   -15.839348     17.0   Walking
8993  3797.513869   96.629489 -10.100146  ...   -13.183723     17.0   Walking
8994  3802.493478   95.108551  -9.475290  ...   -14.374493     17.0   Walking
8995  3807.480147   94.528603 -10.188676  ...   -15.526765     17.0   Walking

[8996 rows x 13 columns]

In [97]:
clf = RandomForestClassifier( random_state = 0 )
clf.fit( train[ train.columns.drop(['Activity','User_Id','Time'])  ] , train.Activity )

RandomForestClassifier(random_state=0)

In [101]:
preds = clf.predict(test[ test.columns.drop(['Activity','User_Id','Time'])  ] )
accuracy_score( test.Activity , preds ) * 100

99.64428634948867

In [104]:
from collections import Counter
Counter(preds)

Counter({'Sitting': 1214, 'Standing': 753, 'Walking': 282})

In [ ]:
print( f'max value in Angle = {np.max( df_main.Angle)}' )
print( f'min value in Angle = {np.min( df_main.Angle)}' )

max value in Angle = 180.0
min value in Angle = 33.183928571428574

### Testing on the new set

In [180]:
sample = encapsule(pd.read_csv('new_test_data.csv'))
main = encapsule(data_wrangle(sample))

       id  ...                 updatedAt
0  458813  ...  2022-02-14T01:32:45.325Z
1  458814  ...  2022-02-14T01:32:45.332Z
2  458815  ...  2022-02-14T01:32:45.340Z
3  458816  ...  2022-02-14T01:32:45.348Z
4  458817  ...  2022-02-14T01:32:45.363Z

[5 rows x 9 columns]

shape of df = (8240, 9)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

                                         v2     v3  ...       v10      v11
timestamp                                           ...
2022-02-13T14:32:00.378Z  8.192087525665539  -0.99  ...   -19.375  -61.875
2022-02-13T14:32:00.866Z  8.192087525665539  -0.99  ...  -18.6875   -62.75
2022-02-13T14:32:01.350Z  8.192087525665539  -1.01  ...   -19.375   -62.25
2022-02-13T14:32:01.840Z  8.192087525665539  -0.99  ...  -19.0625   -62.75
2022-02-13T14:32:02.324Z  8.192087525665539  -0.99  ...  -19.0625  -61.875

[5 rows x 10 columns]

shape of df = (8240, 10)

In [188]:
daate = pd.to_datetime( main.index  )
main['Second'] =  daate.second
main['Minutes'] =  daate.minute
main['Hour'] = daate.hour

In [189]:
cols = list(train.columns[1:-2])
cols.append('Second')
cols.append('Minutes')
cols.append('Hour')

In [190]:
main.columns = cols

In [191]:
main

                                      Angle      X     Y  ... Second Minutes Hour
timestamp                                                 ...
2022-02-13T14:32:00.378Z  8.192087525665539  -0.99   0.8  ...      0      32   14
2022-02-13T14:32:00.866Z  8.192087525665539  -0.99  0.81  ...      0      32   14
2022-02-13T14:32:01.350Z  8.192087525665539  -1.01  0.84  ...      1      32   14
2022-02-13T14:32:01.840Z  8.192087525665539  -0.99  0.78  ...      1      32   14
2022-02-13T14:32:02.324Z  8.192087525665539  -0.99  0.82  ...      2      32   14
...                                     ...    ...   ...  ...    ...     ...  ...
2022-02-13T15:41:36.500Z  9.342810245644976  -1.16  0.91  ...     36      41   15
2022-02-13T15:41:36.983Z  9.342810245644976  -1.19  0.92  ...     36      41   15
2022-02-13T15:41:37.475Z  9.342810245644976  -1.18  0.92  ...     37      41   15
2022-02-13T15:41:38.009Z  9.342810245644976  -1.18  0.92  ...     38      41   15
2022-02-13T15:41:38.462Z  9.342810245644976   -1.2  0.92  ...     38      41   15

[8240 rows x 13 columns]

In [192]:
main.reset_index(drop=True, inplace = True)

In [193]:
main

                  Angle      X     Y      Z  ... Unnamed: 10 Second Minutes Hour
0     8.192087525665539  -0.99   0.8  -9.53  ...     -61.875      0      32   14
1     8.192087525665539  -0.99  0.81   -9.6  ...      -62.75      0      32   14
2     8.192087525665539  -1.01  0.84  -9.58  ...      -62.25      1      32   14
3     8.192087525665539  -0.99  0.78  -9.57  ...      -62.75      1      32   14
4     8.192087525665539  -0.99  0.82  -9.55  ...     -61.875      2      32   14
...                 ...    ...   ...    ...  ...         ...    ...     ...  ...
8235  9.342810245644976  -1.16  0.91  -9.65  ...     -69.875     36      41   15
8236  9.342810245644976  -1.19  0.92  -9.66  ...       -69.5     36      41   15
8237  9.342810245644976  -1.18  0.92  -9.66  ...       -69.5     37      41   15
8238  9.342810245644976  -1.18  0.92  -9.67  ...    -68.6875     38      41   15
8239  9.342810245644976   -1.2  0.92  -9.65  ...    -68.6875     38      41   15

[8240 rows x 13 columns]

In [194]:
main = main.astype(float)

In [121]:
print( f'max value in Angle = {np.max(main.Angle)}' )
print( f'min value in Angle = {np.min( main.Angle)}' )

AttributeError: ignored

In [128]:
meaned_main =  main.groupby(['Hour','Time'])

In [138]:
len(meaned_main)

1186

In [145]:
lists_2  = []  
for each in meaned_main:
  lists_2.append( make_windows(each[1]))

In [178]:
train

             Time       Angle         X  ...  Unnamed: 10  User_Id  Activity
0        2.869542  162.382288 -2.570932  ...    46.616780      1.0   Sitting
1        7.493096  163.604222 -2.511481  ...    47.569778      1.0   Sitting
2       12.485081  163.736765 -2.503971  ...    47.474779      1.0   Sitting
3       17.459985  161.418235 -2.929191  ...    46.099338      1.0   Sitting
4       22.468366  160.753060 -3.084925  ...    45.619627      1.0   Sitting
...           ...         ...       ...  ...          ...      ...       ...
6742  1291.513043  150.740000 -4.481812  ...    43.983478     13.0   Sitting
6743  1296.500000  150.819708 -4.481314  ...    43.935693     13.0   Sitting
6744  1301.486466  150.860000 -4.477820  ...    43.862707     13.0   Sitting
6745  1306.501471  150.860000 -4.479044  ...    43.999265     13.0   Sitting
6746  1311.500741  150.808444 -4.477630  ...    43.951704     13.0   Sitting

[6747 rows x 13 columns]

In [195]:
def prep(df):
  df =  df.sort_values(['Hour','Minutes', 'Second'])
  lists = []
  for i in range(0,len(df) - 13,11):
      window_mean = df.loc[i:i+11].mean()
      lists.append(window_mean)
  return pd.DataFrame(lists)

In [196]:
meaned_main = encapsule(prep(main))

      Angle         X         Y  ...     Second  Minutes  Hour
0  8.192088 -0.988333  0.801667  ...   2.500000     32.0  14.0
1  8.192088 -1.008333  0.835833  ...   8.666667     32.0  14.0
2  8.192088 -1.019167  0.846667  ...  14.166667     32.0  14.0
3  7.876297 -1.022500  0.803333  ...  19.500000     32.0  14.0
4  7.771033 -0.984167  0.787500  ...  25.000000     32.0  14.0

[5 rows x 13 columns]

shape of df = (748, 13)

In [197]:
preds = clf.predict( meaned_main[ meaned_main.columns.drop(['Second','Minutes','Hour']) ] )

In [ ]:
meaned_main.shape

(60, 10)

In [198]:
from collections import Counter
Counter(preds)

Counter({'Standing': 686, 'Walking': 62})

In [200]:
meaned_main['Activity'] = preds

In [201]:
meaned_main

        Angle         X         Y         Z  ...     Second  Minutes  Hour  Activity
0    8.192088 -0.988333  0.801667 -9.568333  ...   2.500000     32.0  14.0  Standing
1    8.192088 -1.008333  0.835833 -9.569167  ...   8.666667     32.0  14.0  Standing
2    8.192088 -1.019167  0.846667 -9.560000  ...  14.166667     32.0  14.0  Standing
3    7.876297 -1.022500  0.803333 -9.550833  ...  19.500000     32.0  14.0  Standing
4    7.771033 -0.984167  0.787500 -9.556667  ...  25.000000     32.0  14.0  Standing
..        ...       ...       ...       ...  ...        ...      ...   ...       ...
743  9.342810 -1.205000  0.921667 -9.662500  ...   5.416667     41.0  15.0  Standing
744  9.342810 -1.200833  0.920833 -9.665833  ...  11.666667     41.0  15.0  Standing
745  9.342810 -1.196667  0.927500 -9.660833  ...  17.500000     41.0  15.0  Standing
746  9.342810 -1.203333  0.928333 -9.654167  ...  23.083333     41.0  15.0  Standing
747  9.342810 -1.200000  0.932500 -9.658333  ...  29.083333     41.0  15.0  Standing

[748 rows x 14 columns]

## Trying a model for standing and Walking.

In [208]:
#display(meaned_main[ (meaned_main.Minutes >= 32 ) & (meaned_main.Minutes <= 47 ) & (meaned_main.Hour == 14 ) ])
display(meaned_main[ (meaned_main.Minutes >= 47 ) & (meaned_main.Minutes <= 58 ) & (meaned_main.Hour == 14 ) ].Activity.value_counts() )
meaned_main[ (meaned_main.Minutes >= 58 ) & (meaned_main.Minutes <= 8 )  ].Activity.value_counts()

Standing    126
Walking       5
Name: Activity, dtype: int64

Series([], Name: Activity, dtype: int64)

In [217]:
meaned_main

        Angle         X         Y         Z  ...     Second  Minutes  Hour  Activity
0    8.192088 -0.988333  0.801667 -9.568333  ...   2.500000     32.0  14.0  Standing
1    8.192088 -1.008333  0.835833 -9.569167  ...   8.666667     32.0  14.0  Standing
2    8.192088 -1.019167  0.846667 -9.560000  ...  14.166667     32.0  14.0  Standing
3    7.876297 -1.022500  0.803333 -9.550833  ...  19.500000     32.0  14.0  Standing
4    7.771033 -0.984167  0.787500 -9.556667  ...  25.000000     32.0  14.0  Standing
..        ...       ...       ...       ...  ...        ...      ...   ...       ...
743  9.342810 -1.205000  0.921667 -9.662500  ...   5.416667     41.0  15.0  Standing
744  9.342810 -1.200833  0.920833 -9.665833  ...  11.666667     41.0  15.0  Standing
745  9.342810 -1.196667  0.927500 -9.660833  ...  17.500000     41.0  15.0  Standing
746  9.342810 -1.203333  0.928333 -9.654167  ...  23.083333     41.0  15.0  Standing
747  9.342810 -1.200000  0.932500 -9.658333  ...  29.083333     41.0  15.0  Standing

[748 rows x 14 columns]

In [221]:
import  plotly.express as px
fig = px.histogram(meaned_main.loc[285:398], x="Angle", color = 'Activity' , text_auto = True )
fig.show()

import  plotly.express as px
fig = px.histogram(meaned_main[ (meaned_main.Minutes >= 47 ) & (meaned_main.Minutes <= 58 ) & (meaned_main.Hour == 14 ) ], x="Angle", color = 'Activity' , text_auto = True )
fig.show()

In [ ]:
meaned_main[ (meaned_main.Minutes >= 58 ) & (meaned_main.Minutes <= 8 )  ]

In [ ]:
df = encapsule( pd.read_csv( 'dataset_main.csv' , index_col=None ) )