global model_m = .load(file)




Predict_a_block(block-of-data):

current_activity = nil

from os import nice

from = starttime (from the data)

timewindow array = [ from, to, activity]



for: how many sliding windows of 35 in the block-of-data -- len(b)

slice = window

prediction = model_m.predict(slice)

if (prediction != current_activity):

if (current_activity != nil):

add to the timewindow array (from , currentime, current_activity)

set current_activity = prediction

set from: currenttime



return the window array

[

    {from , to , sit},

{from, to, walk},

{....}

]

In [106]:
import pandas as pd
from scipy import stats
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [104]:
!pip install tensorflow

Collecting tensorflow
  Downloading tensorflow-2.8.0-cp37-cp37m-macosx_10_14_x86_64.whl (217.4 MB)
     |████████████████████████████████| 217.4 MB 848 bytes/s a 0:00:01  |█▎                              | 8.6 MB 5.7 MB/s eta 0:00:37     |██▋                             | 18.0 MB 6.1 MB/s eta 0:00:33     |███                             | 19.8 MB 6.1 MB/s eta 0:00:33     |██████████▍                     | 70.8 MB 6.5 MB/s eta 0:00:23ta 0:00:23     |████████████                    | 81.0 MB 6.1 MB/s eta 0:00:23     |████████████                    | 81.3 MB 6.1 MB/s eta 0:00:23��████████▊                  | 93.3 MB 25.2 MB/s eta 0:00:05     |██████████████                  | 95.1 MB 25.2 MB/s eta 0:00:05     |███████████████████████████▏    | 184.8 MB 9.1 MB/s eta 0:00:04 0:00:04     |████████████████████████████▎   | 192.1 MB 668 kB/s eta 0:00:38     |█████████████████████████████   | 197.6 MB 454 kB/s eta 0:00:44     |█████████████████████████████▋  | 201.5 MB 6.5 MB/s eta 0:00:03     |███████████████████████████████▏| 211.8 MB 4.1 MB/s eta 0:00:02�███████████▏| 211.9 MB 4.1 MB/s eta 0:00:02
Collecting absl-py>=0.4.0
  Downloading absl_py-1.0.0-py3-none-any.whl (126 kB)
     |████████████████████████████████| 126 kB 7.4 MB/s eta 0:00:01
Requirement already satisfied: typing-extensions>=3.6.6 in /Users/arvindchandrasekarreddy/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (3.10.0.0)
Collecting protobuf>=3.9.2
  Downloading protobuf-3.19.4-cp37-cp37m-macosx_10_9_x86_64.whl (960 kB)
     |████████████████████████████████| 960 kB 7.3 MB/s eta 0:00:01
Collecting opt-einsum>=2.3.2
  Downloading opt_einsum-3.3.0-py3-none-any.whl (65 kB)
     |████████████████████████████████| 65 kB 4.2 MB/s eta 0:00:011
Collecting libclang>=9.0.1
  Downloading libclang-13.0.0-py2.py3-none-macosx_10_9_x86_64.whl (13.0 MB)
     |████████████████████████████████| 13.0 MB 690 kB/s eta 0:00:01
Collecting termcolor>=1.1.0
  Downloading termcolor-1.1.0.tar.gz (3.9 kB)
Collecting numpy>=1.20
  Downloading numpy-1.21.5-cp37-cp37m-macosx_10_9_x86_64.whl (16.9 MB)
     |████████████████████████████████| 16.9 MB 8.0 MB/s eta 0:00:01
Collecting keras<2.9,>=2.8.0rc0
  Downloading keras-2.8.0-py2.py3-none-any.whl (1.4 MB)
     |████████████████████████████████| 1.4 MB 7.4 MB/s eta 0:00:01
Collecting tensorflow-io-gcs-filesystem>=0.23.1
  Downloading tensorflow_io_gcs_filesystem-0.24.0-cp37-cp37m-macosx_10_14_x86_64.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 6.6 MB/s eta 0:00:01
Collecting grpcio<2.0,>=1.24.3
  Downloading grpcio-1.43.0-cp37-cp37m-macosx_10_10_x86_64.whl (4.1 MB)
     |████████████████████████████████| 4.1 MB 4.7 MB/s eta 0:00:01
Requirement already satisfied: setuptools in /Users/arvindchandrasekarreddy/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (41.0.1)
Requirement already satisfied: six>=1.12.0 in /Users/arvindchandrasekarreddy/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.15.0)
Collecting gast>=0.2.1
  Downloading gast-0.5.3-py3-none-any.whl (19 kB)
Requirement already satisfied: wrapt>=1.11.0 in /Users/arvindchandrasekarreddy/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (1.11.2)
Collecting astunparse>=1.6.0
  Downloading astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Collecting flatbuffers>=1.12
  Downloading flatbuffers-2.0-py2.py3-none-any.whl (26 kB)
Collecting google-pasta>=0.1.1
  Downloading google_pasta-0.2.0-py3-none-any.whl (57 kB)
     |████████████████████████████████| 57 kB 4.9 MB/s eta 0:00:011
Requirement already satisfied: h5py>=2.9.0 in /Users/arvindchandrasekarreddy/opt/anaconda3/lib/python3.7/site-packages (from tensorflow) (2.10.0)
Collecting tf-estimator-nightly==2.8.0.dev2021122109
  Downloading tf_estimator_nightly-2.8.0.dev2021122109-py2.py3-none-any.whl (462 kB)
     |████████████████████████████████| 462 kB 6.2 MB/s eta 0:00:01
Collecting keras-preprocessing>=1.1.1
  Downloading Keras_Preprocessing-1.1.2-py2.py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 595 kB/s eta 0:00:01
Collecting tensorboard<2.9,>=2.8
  Downloading tensorboard-2.8.0-py3-none-any.whl (5.8 MB)
     |████████████████████████████████| 5.8 MB 8.3 MB/s eta 0:00:01
Requirement already satisfied: wheel<1.0,>=0.23.0 in /Users/arvindchandrasekarreddy/opt/anaconda3/lib/python3.7/site-packages (from astunparse>=1.6.0->tensorflow) (0.34.2)
Collecting tensorboard-data-server<0.7.0,>=0.6.0
  Downloading tensorboard_data_server-0.6.1-py3-none-macosx_10_9_x86_64.whl (3.5 MB)
     |████████████████████████████████| 3.5 MB 6.0 MB/s eta 0:00:01
Collecting google-auth<3,>=1.6.3
  Downloading google_auth-2.6.0-py2.py3-none-any.whl (156 kB)
     |████████████████████████████████| 156 kB 6.3 MB/s eta 0:00:01
Collecting tensorboard-plugin-wit>=1.6.0
  Downloading tensorboard_plugin_wit-1.8.1-py3-none-any.whl (781 kB)
     |████████████████████████████████| 781 kB 5.5 MB/s eta 0:00:01
Requirement already satisfied: requests<3,>=2.21.0 in /Users/arvindchandrasekarreddy/opt/anaconda3/lib/python3.7/site-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.25.1)
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Downloading google_auth_oauthlib-0.4.6-py2.py3-none-any.whl (18 kB)
Collecting markdown>=2.6.8
  Downloading Markdown-3.3.6-py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 5.3 MB/s eta 0:00:01
Requirement already satisfied: werkzeug>=0.11.15 in /Users/arvindchandrasekarreddy/opt/anaconda3/lib/python3.7/site-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.0.0)
Collecting cachetools<6.0,>=2.0.0
  Downloading cachetools-5.0.0-py3-none-any.whl (9.1 kB)
Collecting rsa<5,>=3.1.4; python_version >= "3.6"
  Downloading rsa-4.8-py3-none-any.whl (39 kB)
Collecting pyasn1-modules>=0.2.1
  Downloading pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
     |████████████████████████████████| 155 kB 8.0 MB/s eta 0:00:01
Requirement already satisfied: certifi>=2017.4.17 in /Users/arvindchandrasekarreddy/opt/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2019.11.28)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/arvindchandrasekarreddy/opt/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (1.25.8)
Requirement already satisfied: chardet<5,>=3.0.2 in /Users/arvindchandrasekarreddy/opt/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /Users/arvindchandrasekarreddy/opt/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2.8)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Collecting importlib-metadata>=4.4; python_version < "3.10"
  Downloading importlib_metadata-4.10.1-py3-none-any.whl (17 kB)
Collecting pyasn1>=0.1.3
  Downloading pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
     |████████████████████████████████| 77 kB 3.9 MB/s eta 0:00:01
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.2.0-py3-none-any.whl (151 kB)
     |████████████████████████████████| 151 kB 6.8 MB/s eta 0:00:01
Requirement already satisfied: zipp>=0.5 in /Users/arvindchandrasekarreddy/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata>=4.4; python_version < "3.10"->markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (2.2.0)
Building wheels for collected packages: termcolor
  Building wheel for termcolor (setup.py) ... done
  Created wheel for termcolor: filename=termcolor-1.1.0-py3-none-any.whl size=4830 sha256=4a6fe0cdcd7497233a1ee5b47b373e3fdd2f295e219b9c4e7f74919769edea0c
  Stored in directory: /Users/arvindchandrasekarreddy/Library/Caches/pip/wheels/3f/e3/ec/8a8336ff196023622fbcb36de0c5a5c218cbb24111d1d4c7f2
Successfully built termcolor
ERROR: pytest-astropy 0.8.0 requires pytest-cov>=2.0, which is not installed.
ERROR: pytest-astropy 0.8.0 requires pytest-filter-subpackage>=0.1, which is not installed.
Installing collected packages: absl-py, protobuf, numpy, opt-einsum, libclang, termcolor, keras, tensorflow-io-gcs-filesystem, grpcio, gast, astunparse, flatbuffers, google-pasta, tf-estimator-nightly, keras-preprocessing, tensorboard-data-server, cachetools, pyasn1, rsa, pyasn1-modules, google-auth, tensorboard-plugin-wit, oauthlib, requests-oauthlib, google-auth-oauthlib, importlib-metadata, markdown, tensorboard, tensorflow
  Attempting uninstall: numpy
    Found existing installation: numpy 1.19.1
    Uninstalling numpy-1.19.1:
      Successfully uninstalled numpy-1.19.1
  Attempting uninstall: importlib-metadata
    Found existing installation: importlib-metadata 1.5.0
    Uninstalling importlib-metadata-1.5.0:
      Successfully uninstalled importlib-metadata-1.5.0
Successfully installed absl-py-1.0.0 astunparse-1.6.3 cachetools-5.0.0 flatbuffers-2.0 gast-0.5.3 google-auth-2.6.0 google-auth-oauthlib-0.4.6 google-pasta-0.2.0 grpcio-1.43.0 importlib-metadata-4.10.1 keras-2.8.0 keras-preprocessing-1.1.2 libclang-13.0.0 markdown-3.3.6 numpy-1.21.5 oauthlib-3.2.0 opt-einsum-3.3.0 protobuf-3.19.4 pyasn1-0.4.8 pyasn1-modules-0.2.8 requests-oauthlib-1.3.1 rsa-4.8 tensorboard-2.8.0 tensorboard-data-server-0.6.1 tensorboard-plugin-wit-1.8.1 tensorflow-2.8.0 tensorflow-io-gcs-filesystem-0.24.0 termcolor-1.1.0 tf-estimator-nightly-2.8.0.dev2021122109

In [2]:
def encapsule(df):
    display(df.head(5))
    print( f'shape of df = {df.shape}' )
    return df

In [98]:
def tran(x):
    y = x[1:-1]
    return y.split(',')

def data_wrangle( df ):
    sample = df[['timestamp','raw_sensor_data']];
    sample['parameters'] = sample.raw_sensor_data.apply(tran);
    main = pd.DataFrame( sample.parameters.to_list() , columns = ['v1','v2','v3','v4','v5','v6','v7','v8','v9','v10','v11'] );
    main['timestamp'] = sample['timestamp'];
    main.drop( 'v1' , axis = 1 , inplace = True );
    main.set_index('timestamp' , inplace=True);
    return main;

In [100]:
def create_segments_and_labels(df, time_steps, step):

    # x, y, z acceleration as features
    N_FEATURES = 10
    # Number of steps to advance in each iteration (for me, it should always
    # be equal to the time_steps in order to have no overlap between segments)
    # step = time_steps
    segments = []
    labels = []
    for i in range(0, len(df) - time_steps, step):
        xs = df['v3'].values[i: i + time_steps]
        ys = df['v4'].values[i: i + time_steps]
        zs = df['v5'].values[i: i + time_steps]
        angle = df['v2'].values[i: i + time_steps]
        u5 = df['v6'].values[i: i + time_steps]
        u6= df['v7'].values[i: i + time_steps]
        u7= df['v8'].values[i: i + time_steps]
        u8= df['v9'].values[i: i + time_steps]
        u9= df['v10'].values[i: i + time_steps]
        u10= df['v11'].values[i: i + time_steps]
        # Retrieve the most often used label in this segment
        segments.append([xs, ys, zs,angle,u5,u6,u7,u8,u9,u10 ])

    # Bring the segments into a better shape
    reshaped_segments = np.asarray(segments, dtype= np.float32).reshape(-1, time_steps, N_FEATURES)

    return reshaped_segments

In [91]:
sample = encapsule(pd.read_csv('/Users/arvindchandrasekarreddy/Desktop/PythonProjects/Sord_analysis/csv_vrLLZ7HWebhLTWbGEf0R.csv'))

,id,user_id,email_id,raw_sensor_data,predicted_activity,actual_activity,timestamp,createdAt,updatedAt
0,27967,61f87f357d6217b5ed17047d,imove.mrt@gmail.com,"[4866.386144,14.911036744980214,2.48,0.28,-9.5...",sit,NaN,2022-02-02T16:13:39.218Z,2022-02-03T03:14:27.006Z,2022-02-03T03:14:27.006Z
1,27968,61f87f357d6217b5ed17047d,imove.mrt@gmail.com,"[4867.311019,14.911036744980214,2.47,0.27,-9.5...",sit,NaN,2022-02-02T16:13:40.143Z,2022-02-03T03:14:27.006Z,2022-02-03T03:14:27.006Z
2,27969,61f87f357d6217b5ed17047d,imove.mrt@gmail.com,"[4867.897186,14.911036744980214,2.5,0.24,-9.52...",sit,NaN,2022-02-02T16:13:40.729Z,2022-02-03T03:14:27.006Z,2022-02-03T03:14:27.006Z
3,27970,61f87f357d6217b5ed17047d,imove.mrt@gmail.com,"[4868.430045,14.911036744980214,2.48,0.26,-9.5...",sit,NaN,2022-02-02T16:13:41.262Z,2022-02-03T03:14:27.006Z,2022-02-03T03:14:27.006Z
4,27971,61f87f357d6217b5ed17047d,imove.mrt@gmail.com,"[4869.016053,14.911036744980214,2.46,0.26,-9.5...",sit,NaN,2022-02-02T16:13:41.848Z,2022-02-03T03:14:27.006Z,2022-02-03T03:14:27.006Z

shape of df = (5000, 9)

In [99]:
main = encapsule(data_wrangle(sample));

,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11
timestamp,,,,,,,,,,
2022-02-02T16:13:39.218Z,14.911036744980214,2.48,0.28,-9.52,-0.0625,-0.0625,-0.125,21.0625,22.375,-40.6875
2022-02-02T16:13:40.143Z,14.911036744980214,2.47,0.27,-9.51,0.125,-0.125,0.125,20.6875,22,-39.375
2022-02-02T16:13:40.729Z,14.911036744980214,2.5,0.24,-9.52,-0.1875,-0.1875,0.125,20.375,21.5625,-40.1875
2022-02-02T16:13:41.262Z,14.911036744980214,2.48,0.26,-9.52,0,0.125,-0.125,21.0625,22.6875,-40.5625
2022-02-02T16:13:41.848Z,14.911036744980214,2.46,0.26,-9.55,-0.1875,-0.1875,-0.25,20.6875,22.375,-40.1875

shape of df = (5000, 10)

In [101]:
create_segments_and_labels(main,35,1)

array([[[  2.48  ,   2.47  ,   2.5   , ...,   2.35  ,   2.48  ,
           2.49  ],
        [  2.45  ,   2.41  ,   2.34  , ...,   2.35  ,   2.38  ,
           2.36  ],
        [  2.38  ,   2.34  ,   2.36  , ...,   2.41  ,   2.36  ,
           2.37  ],
        ...,
        [-40.6875, -40.6875, -39.375 , ..., -41.    , -41.5   ,
         -41.    ],
        [-41.5   , -41.875 , -40.1875, ..., -40.6875, -41.5   ,
         -40.6875],
        [-41.5   , -41.    , -40.1875, ..., -40.6875, -40.1875,
         -40.1875]],

       [[  2.47  ,   2.5   ,   2.48  , ...,   2.48  ,   2.49  ,
           2.45  ],
        [  2.41  ,   2.34  ,   2.39  , ...,   2.38  ,   2.36  ,
           2.38  ],
        [  2.34  ,   2.36  ,   2.4   , ...,   2.36  ,   2.37  ,
           2.37  ],
        ...,
        [-40.6875, -39.375 , -41.5   , ..., -41.5   , -41.    ,
         -41.5   ],
        [-41.875 , -40.1875, -40.6875, ..., -41.5   , -40.6875,
         -41.5   ],
        [-41.    , -40.1875, -40.5625, ..., -40.1875, -40.1875,
         -40.6875]],

       [[  2.5   ,   2.48  ,   2.46  , ...,   2.49  ,   2.45  ,
           2.41  ],
        [  2.34  ,   2.39  ,   2.37  , ...,   2.36  ,   2.38  ,
           2.34  ],
        [  2.36  ,   2.4   ,   2.37  , ...,   2.37  ,   2.37  ,
           2.39  ],
        ...,
        [-39.375 , -41.5   , -41.    , ..., -41.    , -41.5   ,
         -41.875 ],
        [-40.1875, -40.6875, -41.5   , ..., -40.6875, -41.5   ,
         -41.    ],
        [-40.1875, -40.5625, -41.    , ..., -40.1875, -40.6875,
         -40.1875]],

       ...,

       [[ -0.92  ,  -0.91  ,  -0.91  , ...,  -0.9   ,  -0.91  ,
          -0.91  ],
        [ -0.91  ,  -0.9   ,  -0.91  , ...,  -0.91  ,  -0.89  ,
          -0.9   ],
        [ -0.91  ,  -0.92  ,  -0.9   , ...,  -0.91  ,  -0.95  ,
          -0.92  ],
        ...,
        [-40.5   , -40.    , -42.0625, ..., -41.6875, -41.25  ,
         -42.5   ],
        [-40.875 , -40.875 , -41.25  , ..., -40.875 , -41.25  ,
         -41.25  ],
        [-40.875 , -40.875 , -40.875 , ..., -40.    , -39.6875,
         -41.25  ]],

       [[ -0.91  ,  -0.91  ,  -0.91  , ...,  -0.91  ,  -0.91  ,
          -0.91  ],
        [ -0.9   ,  -0.91  ,  -0.93  , ...,  -0.89  ,  -0.9   ,
          -0.91  ],
        [ -0.92  ,  -0.9   ,  -0.9   , ...,  -0.95  ,  -0.92  ,
          -1.01  ],
        ...,
        [-40.    , -42.0625, -42.0625, ..., -41.25  , -42.5   ,
         -40.875 ],
        [-40.875 , -41.25  , -40.875 , ..., -41.25  , -41.25  ,
         -40.875 ],
        [-40.875 , -40.875 , -41.6875, ..., -39.6875, -41.25  ,
         -41.25  ]],

       [[ -0.91  ,  -0.91  ,  -0.92  , ...,  -0.91  ,  -0.91  ,
          -0.9   ],
        [ -0.91  ,  -0.93  ,  -0.9   , ...,  -0.9   ,  -0.91  ,
          -0.92  ],
        [ -0.9   ,  -0.9   ,  -0.91  , ...,  -0.92  ,  -1.01  ,
          -0.74  ],
        ...,
        [-42.0625, -42.0625, -41.25  , ..., -42.5   , -40.875 ,
         -40.875 ],
        [-41.25  , -40.875 , -40.5   , ..., -41.25  , -40.875 ,
         -40.875 ],
        [-40.875 , -41.6875, -41.25  , ..., -41.25  , -41.25  ,
         -40.    ]]], dtype=float32)

In [3]:
print('hello')
import pandas as pd

hello

In [66]:
ielts_users.groupby(['buy_now_clicked' , 'chosen_package' ]).count()

                                access_level  age  buy_now_clicked_date  \
buy_now_clicked chosen_package
1               Bronze                     1    0                     1
                Gold                       1    0                     1
                Silver                     2    0                     2
                bronze                   157    8                   157
                gold                      62    8                    62
                silver                   238   30                   238

                                degree  gender  last_login  oauth_provider  \
buy_now_clicked chosen_package
1               Bronze               0       1           0               1
                Gold                 0       1           1               0
                Silver               0       1           1               0
                bronze               6      59          98              31
                gold                 7      32          50               8
                silver              23     107         188              38

                                registration_date  status  user_id  user_type
buy_now_clicked chosen_package
1               Bronze                          1       1        1          1
                Gold                            1       1        1          1
                Silver                          2       2        2          2
                bronze                        157     157      157        157
                gold                           62      62       62         62
                silver                        238     238      238        238

In [67]:
(158 * 20 ) + ( 63 * 70 ) + ( 240 * 50 )

19570

In [4]:
ielts_users = pd.read_csv('/Users/arvindchandrasekarreddy/Downloads/ielts_users.csv')
ielts_notifications = pd.read_csv('/Users/arvindchandrasekarreddy/Downloads/ielts_notifications.csv')

In [18]:
ielts_users[''].groupby('oauth_provider').count()

,access_level,age,buy_now_clicked,buy_now_clicked_date,chosen_package,degree,gender,last_login,registration_date,status,user_id,user_type
oauth_provider,,,,,,,,,,,,
facebook,3006,34,3006,3006,58,24,2316,38,3006,3006,3006,3006
google,1291,6,1291,1291,20,7,751,15,1291,1291,1291,1291

In [50]:
ielts_users[ 'registration_date' ] = pd.DatetimeIndex(ielts_users.registration_date).year

In [72]:
ielts_users[ (ielts_users.registration_date == 2018)  & (ielts_users.oauth_provider == 'facebook')  ]

,access_level,age,buy_now_clicked,buy_now_clicked_date,chosen_package,degree,gender,last_login,oauth_provider,registration_date,status,user_id,user_type
6651,0,NaN,0,0000-00-00 00:00:00,NaN,NaN,Male,NaN,facebook,2018,1,47074,1
6655,0,NaN,0,0000-00-00 00:00:00,NaN,NaN,Male,NaN,facebook,2018,1,47096,1
6659,0,NaN,0,0000-00-00 00:00:00,NaN,NaN,Female,NaN,facebook,2018,1,47116,1
6662,0,NaN,0,0000-00-00 00:00:00,NaN,NaN,Male,NaN,facebook,2018,1,47126,1
6665,0,NaN,0,0000-00-00 00:00:00,NaN,NaN,Male,NaN,facebook,2018,1,47144,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14421,0,NaN,0,0000-00-00 00:00:00,NaN,NaN,NaN,NaN,facebook,2018,1,78042,1
14424,0,NaN,0,0000-00-00 00:00:00,NaN,NaN,NaN,NaN,facebook,2018,1,78079,1
14425,0,NaN,0,0000-00-00 00:00:00,NaN,NaN,NaN,NaN,facebook,2018,1,78081,1
14430,0,NaN,0,0000-00-00 00:00:00,NaN,NaN,NaN,NaN,facebook,2018,1,78099,1
14436,0,NaN,0,0000-00-00 00:00:00,NaN,NaN,NaN,NaN,facebook,2018,1,78130,1

In [70]:
(6651  * 2.5 ) -  (7788 * 2.3)

-1284.8999999999978

In [57]:
(1556 * 2.5) - (1450  * 2.3)

555.0000000000005

In [73]:
1556 - 1450

106

In [74]:
106 * 0.05

5.300000000000001

In [44]:
daate = pd.DatetimeIndex(ielts_users.registration_date)

ValueError: time data 1/01/2017 1:16 doesn't match format specified

In [46]:
ielts_users.registration_date.apply(pd.to_datetime).year

AttributeError: 'Series' object has no attribute 'year'

In [47]:
ielts_users.isna().sum()

access_level                0
age                     14217
buy_now_clicked             0
buy_now_clicked_date        0
chosen_package          13978
degree                  14271
gender                  10906
last_login              13247
oauth_provider          10142
registration_date           0
status                      0
user_id                     0
user_type                   0
dtype: int64

In [ ]:
import stats

In [14]:
ielts_notifications.groupby('user_id').size()

user_id
1468     4
2612     3
2618     1
2688     1
2787     2
        ..
84877    1
84878    1
84881    1
84884    1
84914    1
Length: 16172, dtype: int64

In [75]:
ielts_notifications

           id  message_mode  user_id  read_status        added_date
0       20363             2    19578            0    1/01/2017 0:15
1       20368             2    19434            0    1/01/2017 1:15
2       20374             1    19697            0    1/01/2017 2:39
3       20375             5    19691            1    1/01/2017 2:45
4       20377             2    19436            0    1/01/2017 3:15
...       ...           ...      ...          ...               ...
50210  223285             2    84175            0  31/03/2019 22:45
50211  223289             2    84604            0  31/03/2019 23:00
50212  223295             2    84608            0  31/03/2019 23:15
50213  223300             2    84180            0  31/03/2019 23:45
50214  223303             1    84914            0  31/03/2019 23:59

[50215 rows x 5 columns]